<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Password</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<style type="text/tailwindcss">
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body class="bg-[#111827] min-h-screen flex justify-center items-center">
		<div class="flex flex-col justify-center">
			<h1 class="text-6xl text-slate-100 text-center mb-8">Your password is here!</h1>

			<span
				class="text-5xl text-center text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text"
				>{{ password }}</span
			>
		</div>
	</body>
</html>
